:root {
  --main-color: #061E37;
  --btn-color: #1DE9B6;
  --second-color: #ffffff;
  --desc-color: #B0BEC5;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  font-family: "Raleway", sans-serif;
  background: url(../img/header/background.png) no-repeat;
  background-size: cover;
  max-width: 100%;
}
.header-elem {
  padding: 50px 0;
}
@media screen and (min-width: 992px) {
  .header-elem {
    padding: 150px 0;
  }
}
@media screen and (min-width: 992px) {
  .header-elem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.header-title {
  font-weight: bold;
  color: var(--second-color);
  font-size: 55px;
}
.header-desc {
  color: var(--second-color);
  font-size: 18px;
  max-width: 580px;
}
.header-btn {
  margin: 20px 10px 10px 0;
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.header-btn-first {
  color: var(--second-color);
  background: var(--main-color);
}
.header-btn-first:hover {
  color: var(--main-color);
  background: var(--second-color);
}
.header-btn-second {
  color: var(--main-color);
  background: var(--second-color);
}
.header-btn-second:hover {
  color: var(--second-color);
  background: var(--main-color);
}
.header-video {
  width: 100%;
  height: 100%;
}
.header-video-wrap {
  max-width: 600px;
  height: 320px;
}

.navbar {
  text-align: center;
}
.navbar-link {
  padding: 0 25px;
  font-size: 15px;
  text-decoration: none;
  color: var(--second-color);
  font-weight: bold;
}
.navbar-link:hover {
  color: var(--main-color);
}
.navbar-link-active {
  color: var(--main-color);
}
.navbar-btn {
  margin: 0 auto;
  padding: 5px 20px;
  border: solid var(--second-color);
  border-radius: 5px;
  border-width: thin;
  background: #00000000;
  color: var(--second-color);
  outline: none;
}
.navbar-btn:hover {
  color: var(--main-color);
  background: var(--second-color);
}
@media screen and (min-width: 992px) {
  .navbar-btn {
    margin: 0;
  }
}

.article {
  font-family: "Raleway", sans-serif;
  margin: 50px 0;
  text-align: center;
}
.article-info {
  text-align: center;
}
.article-info-title {
  font-weight: bold;
  font-size: 45px;
  color: var(--main-color);
}
.article-info-text {
  font-weight: bold;
  margin: 0;
  font-size: 25px;
  color: var(--desc-color);
}
.article-info-desc {
  margin: 0 auto;
  max-width: 555px;
  font-size: 15px;
  color: var(--desc-color);
}
.article-list {
  padding: 30px 0;
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .article-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.article-item {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 350px;
  transition: 0.5s;
}
.article-item:hover {
  background: #e6fffb;
  border-radius: 20px;
  box-shadow: 0px 32px 50px -40px #17E1C3;
}
@media screen and (min-width: 768px) {
  .article-item:nth-child(3) {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 992px) {
  .article-item:nth-child(3) {
    grid-column: 3/4;
  }
}
.article-icon {
  padding: 40px;
  font-size: 80px;
}
.article-icon-calendar {
  color: #B388FF;
}
.article-icon-man {
  color: #80D8FF;
}
.article-icon-shield {
  color: #EA80FC;
}
.article-title {
  font-weight: bold;
  color: var(--main-color);
  font-size: 20px;
}
.article-desc {
  font-size: 15px;
}
.article-btn {
  margin: 0 auto;
  padding: 20px 25px;
  background: #1DE9B6;
  color: var(--second-color);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.article-btn:hover {
  background: #1dc299;
}

.static {
  text-align: left;
}
.static-list {
  padding: 50px 0;
  list-style: none;
}
@media screen and (min-width: 480px) {
  .static-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .static-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.static-item {
  display: flex;
  max-width: 100%;
  max-height: 150px;
  padding: 30px 40px;
}
@media screen and (min-width: 1200px) {
  .static-item {
    padding: 30px 50px;
  }
}
.static-item-first {
  background: #80D8FF;
}
.static-item-second {
  background: #82B1FF;
}
.static-item-third {
  background: #B388FF;
}
.static-item-fourth {
  background: #EA80FC;
}
.static-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  color: #80D8FF;
  font-size: 23px;
}
.static-icon-wrap {
  position: relative;
}
.static-desc {
  padding: 1px 10px;
  font-size: 18px;
  color: var(--second-color);
  font-weight: bold;
}

.section {
  font-family: "Raleway", sans-serif;
}
.section-info {
  margin: 0 auto;
  max-width: 555px;
  text-align: center;
}
.section-info-title {
  color: var(--main-color);
  font-weight: bold;
}
.section-info-desc {
  color: var(--desc-color);
}

.accordion-wrap {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 1px #bbbbbb;
  transition: 0.5s;
}
.accordion-btn {
  background: #ffffff;
  color: var(--main-color);
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.accordion-btn-active {
  transition: 0.6s;
}
.accordion-panel {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .accordion-panel {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1fr;
  }
}
.accordion-panel-img {
  width: 100%;
  height: 100%;
}
.accordion-panel-img-wrap {
  max-width: 250px;
  max-height: 155px;
}
.accordion-panel-desc {
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .accordion-panel-desc {
    grid-column: 2/4;
    padding-left: 20px;
  }
}

.figcaption {
  font-family: "Raleway", sans-serif;
  background: url(../img/figcaption/background.png) no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-top: 50px;
}
@media screen and (min-width: 992px) {
  .figcaption-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.figcaption-info {
  padding: 130px 0;
}
.figcaption-info-title {
  font-size: 45px;
  font-weight: bold;
  color: var(--second-color);
}
.figcaption-info-desc {
  max-width: 515px;
  font-size: 15px;
  color: var(--second-color);
}
.figcaption-info-btn {
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px 25px;
  background: var(--main-color);
  color: var(--second-color);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.figcaption-info-btn:hover {
  background: #05172b;
}
.figcaption-user {
  padding: 70px 0;
}
@media screen and (min-width: 1200px) {
  .figcaption-user-first {
    display: flex;
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .figcaption-user-second {
    display: flex;
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .figcaption-user-img {
    position: absolute;
    top: 40%;
    bottom: 50%;
    left: -80px;
  }
}
.figcaption-user-img-wrap {
  text-align: center;
}
.figcaption-user-block {
  margin-top: 20px;
  background: var(--second-color);
  border-radius: 10px;
  box-shadow: 0px 0px 14px 1px #bbbbbb;
}
.figcaption-user-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
  padding: 20px;
}
.figcaption-user-desc {
  padding: 0 20px 20px;
  color: var(--desc-color);
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*# sourceMappingURL=main.css.map */
